.demo-chart {
    height: 400px;
  }

.infoContainer {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.limitMargin {
  margin-top: 5px;
  margin-bottom: 5px;
}